{% extends "Template/layout.html" %} {% block content %}
<div class="kontenerChart">
    <div class="columns">
        <div class="row">
            <div class="Chart bigChart">
                <div class="ChartHeader">
                    <h6><a href="/">Pekerjaan Dengan Sleep</a></h6>
                </div>
                <div class="chartCanvas">
                    <canvas id="myCanvas"></canvas>
                </div>
                <div class="Keterangan">ini untuk Keterangan</div>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block jsF %}
<script>
    const url = "Occupation/OccupationWithSleepDisorder";

    var BGcolor = [];

    var labelData = [];
    var Insomnia = [];
    var None = [];
    var SleepApnea = [];

    const api = new API_lib("https://API.indoprogmr.my.id");

    async function GetData() {
        labelData = [];
        Insomnia = [];
        None = [];
        SleepApnea = [];

        const data = await api.get(url);
        data.forEach((dataa) => {
            labelData.push(dataa.Lable);
            Insomnia.push(dataa.Insomnia);
            None.push(dataa.None);
            SleepApnea.push(dataa.SleepApnea);
        });

        for (let index = 0; index <= 2; index++) {
            BGcolor.push(dynamicColors());
        }

        LoadChar();
    }

    function LoadChar() {
        // Setelah data dimasukkan, buat grafik
        const chart = new Chart("myCanvas", {
            type: "bar",
            data: {
                labels: labelData,
                datasets: [
                    {
                        label: "Insomnia",
                        data: Insomnia,
                        backgroundColor: BGcolor[0],
                        borderWidth: 1,
                    },
                    {
                        label: "No Sleep Disorder",
                        data: None,
                        backgroundColor: BGcolor[1],
                        borderWidth: 1,
                    },
                    {
                        label: "Sleep Apnea",
                        data: SleepApnea,
                        backgroundColor: BGcolor[2],
                        borderWidth: 1,
                    },
                ],
            },

            options: {
                title: {
                    display: true,
                    text: "Pekerjaan",
                },
                responsive: true,
                scales: {
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true,
                    },
                },
            },
        });

        // chart.update();
        // chart.reset();
    }

    GetData();
</script>
{% endblock %}
