{% extends "Template/layout.html" %} {% block content %}
<div class="kontenerChart">
    <div class="columns">
        <div class="row">
            <div class="Chart bigChart">
                <div class="ChartHeader">
                    <h6><a href="/">Jumlah Pekerjaan Yang di Interview</a></h6>
                </div>
                <div class="chartCanvas">
                    <canvas id="Occupation"></canvas>
                </div>
                <div class="Keterangan">
                    Untuk data Kita Masi Belum Terlalu Menggambarkan Pekerjaan
                    yang sesungguh nya karena kurang nya data
                </div>
            </div>
        </div>

        <div class="row">
            <div class="Chart bigChart">
                <div class="ChartHeader">
                    <h6>
                        <a href="/"
                            >Pekerjaan Yang Memiliki Resiko Gangguan Tidur</a
                        >
                    </h6>
                </div>
                <div class="chartCanvas">
                    <canvas id="myCanvas"></canvas>
                </div>
                <div class="Keterangan">
                    Pada Graft di atas terlihat Jelas Bahwa Pekerjaan yang Lebih
                    <i>demanding</i> akan meikan resiko pada Gangguan Tidur
                </div>
            </div>
        </div>

        <div class="row">
            <div class="Chart bigChart">
                <div class="ChartHeader">
                    <h6>
                        <a href="/">Score Physical Activity Dengan Pekerjaan</a>
                    </h6>
                </div>
                <div class="chartCanvas">
                    <canvas id="OccupationWithPhysicalActivityLevel"></canvas>
                </div>
                <div class="Keterangan">
                    Pada Graft di atas Menunjukan bahwa Pekerjaan yang
                    Memerlukan Physical Activity yang lebih <i>demanding</i>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block jsF %}
<script>
    const url = "Occupation/OccupationWithSleepDisorder";

    var BGcolor = [];

    var labelData = [];
    var Insomnia = [];
    var None = [];
    var SleepApnea = [];

    var xOccupation = [];
    var yOccupation = [];
    var BGcolorOccupation = [];

    var xOccupationWithPhysicalActivityLevel = [];
    var yOccupationWithPhysicalActivityLevel = [];
    var BGcolorOccupationWithPhysicalActivityLevel = [];

    const api = new API_lib("https://API.indoprogmr.my.id");

    async function GetData() {
        labelData = [];
        Insomnia = [];
        None = [];
        SleepApnea = [];

        xOccupation = [];
        yOccupation = [];
        BGcolorOccupation = [];

        xOccupationWithPhysicalActivityLevel = [];
        yOccupationWithPhysicalActivityLevel = [];
        BGcolorOccupationWithPhysicalActivityLevel = [];

        const data = await api.get(url);
        data.forEach((dataa) => {
            labelData.push(dataa.Lable);
            Insomnia.push(dataa.Insomnia);
            None.push(dataa.None);
            SleepApnea.push(dataa.SleepApnea);
        });

        const dataResponseOccupation = await api.get("Count/Occupation");
        dataResponseOccupation.forEach((data) => {
            xOccupation.push(data.X);
            yOccupation.push(data.Y);
            BGcolorOccupation.push(dynamicColors());
        });

        const dataResponseOccupationWithPhysicalActivityLevel = await api.get(
            "Occupation/OccupationWithPhysicalActivityLevel"
        );
        dataResponseOccupationWithPhysicalActivityLevel.forEach((data) => {
            xOccupationWithPhysicalActivityLevel.push(data.X);
            yOccupationWithPhysicalActivityLevel.push(data.Y);
            BGcolorOccupationWithPhysicalActivityLevel.push(dynamicColors());
        });

        for (let index = 0; index <= 10; index++) {
            BGcolor.push(dynamicColors());
        }

        LoadChar();
    }

    function LoadChar() {
        // Setelah data dimasukkan, buat grafik
        const chart = new Chart("myCanvas", {
            type: "bar",
            data: {
                labels: labelData,
                datasets: [
                    {
                        label: "Insomnia",
                        data: Insomnia,
                        backgroundColor: BGcolor[0],
                        borderWidth: 1,
                    },
                    {
                        label: "No Sleep Disorder",
                        data: None,
                        backgroundColor: BGcolor[1],
                        borderWidth: 1,
                    },
                    {
                        label: "Sleep Apnea",
                        data: SleepApnea,
                        backgroundColor: BGcolor[2],
                        borderWidth: 1,
                    },
                ],
            },

            options: {
                responsive: true,
                scales: {
                    x: {
                        stacked: true,
                    },
                    y: {
                        stacked: true,
                    },
                },
            },
        });

        const Occupation = new Chart("Occupation", {
            type: "bar",
            data: {
                labels: xOccupation,
                datasets: [
                    {
                        label: "Banyak yang di Interview",
                        // label: "Sleep Quality with Duration",
                        data: yOccupation,
                        backgroundColor: BGcolorOccupation,
                    },
                ],
            },

            options: {
                // responsive: true,

                legend: {
                    display: false,
                },
            },
        });

        const chartOccupationWithPhysicalActivityLevel = new Chart(
            "OccupationWithPhysicalActivityLevel",
            {
                type: "bar",
                data: {
                    labels: xOccupationWithPhysicalActivityLevel,
                    datasets: [
                        {
                            label: "Score Physical Activity",
                            data: yOccupationWithPhysicalActivityLevel,
                            backgroundColor:
                                BGcolorOccupationWithPhysicalActivityLevel,
                        },
                    ],
                },

                options: {
                    // responsive: true,
                    legend: {
                        display: false,
                    },
                },
            }
        );

        // chart.update();
        // chart.reset();
    }

    GetData();
</script>
{% endblock %}
