{% extends "Template/layout.html" %} {% block content %}
<h1>Index.html</h1>
<!-- 
<div class="container-fluid">
    <div class="row">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Pekerjaan</h6>
            </div>
            <div class="card-body">
                <div class="chart-bar">
                    <canvas id="myChart"></canvas>
                </div>
                <hr />
                Styling for the bar chart can be found in the <code>/js/demo/chart-bar-demo.js</code> file.
            </div>
        </div>
    </div>
</div> -->
<div class="container-fluid">
    <div class="row">
        <div class="card shadow">
            <div class="card-header">
                <h6 class="m-0 font-weight-bold text-primary">Pekerjaan</h6>
            </div>
            <div class="card-body">
                <div class="chart-bar">
                    <canvas id="myChart"></canvas>
                </div>
                <hr />
                Styling for the bar chart can be found in the
                <code>/js/demo/chart-bar-demo.js</code> file.
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block jsF %}
<script>
    const url = "Occupation/Count";

    var xValues = [];
    var yValues = [];
    var BGcolor = [];

    const api = new API_lib("https://API.indoprogmr.my.id");

    async function GetData() {
        xValues = [];
        yValues = [];
        BGcolor = [];

        const data = await api.get(url);
        data.forEach((dataa) => {
            xValues.push(dataa.X);
            yValues.push(dataa.Y);
            BGcolor.push(dynamicColors());
        });

        LoadChar();
    }

    function LoadChar() {
        console.log(xValues);
        console.log(yValues);
        console.log(BGcolor);
        // Setelah data dimasukkan, buat grafik
        const chart = new Chart("myChart", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [
                    {
                        label: "test",
                        data: yValues,
                        backgroundColor: BGcolor,
                        borderWidth: 1,
                    },
                ],
            },

            options: {
                indexAxis: "y",
                legend: { display: false },
                title: {
                    display: true,
                    text: "Pekerjaan",
                },
                // event: ["click"],
                // onClick: (e) => {
                //     console.log(e);
                //     const canvasPosition = Chart.helpers.getRelativePosition(
                //         e,
                //         chart
                //     );
                //     console.log(canvasPosition.x);
                // },
            },
        });

        // chart.update();
        // chart.reset();
    }

    GetData();
</script>
{% endblock %}
